.react-datepicker__day--highlighted-custom {
    background-color: #c6f7d4;
    border-radius: 50%;
    color: #000;
  }

  .bilan-scroll-container {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

  